/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
 @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
.pageTable {
  min-width: 360px;
  font: 13px/1.2 "Montserrat", Arial;
  background: #fff;
  color: #000;
  margin: 0;
}
.pageTable * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pageTable a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #18356d;
}
.pageTable .programFinder {
  position: relative;
  padding: 40px 0;
  position: relative;
  overflow: hidden;
}
.pageTable .programFinder .container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.pageTable .programFinder .sectionHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 30px;
}
@media (max-width: 767px) {
  .pageTable .programFinder .sectionHeader {
    display: block;
    text-align: center;
  }
}
.pageTable .programFinder h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}
@media (max-width: 767px) {
  .pageTable .programFinder h2 {
    font-size: 20px;
    margin: 0 0 10px;
  }
}
.pageTable .programFinder .btnApply {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #e03a29;
  color: #fff;
  font-size: 15px;
  line-height: 1.2;
  padding: 11px 15px 12px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 0 0 0 10px;
  min-width: 100px;
}
.pageTable .programFinder .btnApply:hover {
  background: #bb2a1b;
}
.pageTable .programFinder .finderTwoCols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .pageTable .programFinder .finderTwoCols {
    display: block;
  }
}
.pageTable .programFinder .finderContent {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  overflow: hidden;
}
.pageTable .programFinder .finderSidebar {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 220px;
  margin: 0 70px 0 0;
}
@media (max-width: 1023px) {
  .pageTable .programFinder .finderSidebar {
    width: 200px;
    margin: 0 20px 0 0;
  }
}
@media (max-width: 767px) {
  .pageTable .programFinder .finderSidebar {
    width: 100%;
    max-width: 220px;
    margin: 0 auto 40px;
  }
}
.pageTable .programFinder .sideMenu {
  position: relative;
  margin: 0 0 30px;
}
.pageTable .programFinder .sideMenu.activeSideMenu h3 a:after {
  -webkit-transform: translateY(-50%) rotateX(180deg);
          transform: translateY(-50%) rotateX(180deg);
}
.pageTable .programFinder .sideMenu:last-child {
  margin-bottom: 0;
}
.pageTable .programFinder .sideMenu h3 {
  font-size: 16px;
  line-height: 1.1;
  margin: 0 0 10px;
}
@media (max-width: 1199px) {
  .pageTable .programFinder .sideMenu h3 {
    font-size: 14px;
    margin: 0 0 10px;
  }
}
.pageTable .programFinder .sideMenu h3 a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  max-width: 100%;
  position: relative;
  color: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 0;
}
.pageTable .programFinder .sideMenu h3 a:after {
  width: 0;
  height: 0;
  border-style: solid;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  border-width: 6px 5px 0 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #000 transparent transparent transparent;
}
.pageTable .programFinder .sideMenu h3 a:hover {
  opacity: 0.7;
}
.pageTable .programFinder .sideMenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pageTable .programFinder .sideMenu ul li {
  border-bottom: 1px solid #d2d2d2;
}
.pageTable .programFinder .sideMenu ul label {
  display: block;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #000;
}
.pageTable .programFinder .sideMenu ul label:hover {
  color: #e03a29;
}
.pageTable .programFinder .sideMenu ul input[type=checkbox] {
  width: 16px;
  height: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 10px 0 0;
  border: 1px solid #d2d2d2;
}
.pageTable .programFinder .sideMenu ul .label-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.pageTable .programFinder .sideMenu .menuInfo {
  padding: 10px 0 0;
  overflow: hidden;
}
.pageTable .programFinder .sideMenu .btnUncheck {
  float: right;
  color: #000;
  font-size: 13px;
}
.pageTable .programFinder .sideMenu .btnUncheck:hover {
  color: #e03a29;
}
.pageTable .programsTableHolder {
  position: relative;
  margin: 0 0 30px;
}
.pageTable .programsTableHolder:last-child {
  margin: 0;
}
.pageTable .programsTableWrap {
  overflow-x: auto;
  margin: 0 0 0 190px;
}
.pageTable .programsTable {
  width: 100%;
  min-width: 600px;
  border: 0;
  border-collapse: separate;
  border-left: 0;
  border-spacing: 0;
}
.pageTable .programsTable tr:last-child td {
  border-bottom: 1px solid #ccc;
}
.pageTable .programsTable tr.row-highlight td {
  background: #faf8f5;
}
.pageTable .programsTable th,
.pageTable .programsTable td {
  padding: 10px;
  font-size: 12px;
  text-align: center;
  border: solid #18356d;
  border-width: 1px 1px 0 0;
  line-height: 16px;
}
.pageTable .programsTable th:first-child,
.pageTable .programsTable td:first-child {
  width: 190px;
  text-align: left;
  position: absolute;
  left: 0;
  top: auto;
  white-space: normal;
}
.pageTable .programsTable td {
  border-color: #e5e5e5;
  height: 60px;
  white-space: nowrap;
}
.pageTable .programsTable td:first-child {
  border-left: 1px solid #ccc;
}
.pageTable .programsTable td:last-child {
  border-right: 1px solid #ccc;
}
.pageTable .programsTable td.highlight {
  background: #f3e8cc !important;
}
.pageTable .programsTable th {
  border: 0;
  color: #fff;
  font-weight: 600;
  background: #18356d;
}
.pageTable .programsTable .title {
  display: block;
  text-align: left;
  font-weight: 600;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.pageTable .programsTable .subtitle {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
}
.pageTable .programsTable .subtitle a {
  color: inherit;
}
.pageTable .programsTable .subtitle a:hover {
  text-decoration: underline;
}
.pageTable .programsTable td .title {
  color: #18356d;
  font-weight: 400;
}
.pageTable .programsTable .textGreen {
  color: #35aa47 !important;
}
.pageTable .programsTable .textRed {
  color: #d84a38 !important;
}
.pageTable .programsTable .textBlue {
  color: #4b8df8 !important;
}

.vc_row.wpb_row.vc_row-fluid.thim-bg-overlay.vc_custom_1558515830850.vc_row-has-fill{
	display: none;
}
